@charset "utf-8";
/* 시작 */
font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Pretendard", sans-serif;
}
.header {
  display: flex;
  gap: 30%;
  font-size: 21px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 25px 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 95px;
  height: auto;
}

.header_menu > ul {
  display: flex;
  gap: 200px;
  list-style: none;
}

.header_menu > li > a {
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.header_menu > ul > li a:hover {
  color: #f73c93;
}

.subimg {
  background-image: url("../imags/a_09.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.subimgtext {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 11%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  z-index: 10;
}

.subimgtext .sub1 {
  font-family: "Pretendard", sans-serif;
  text-align: left;
  width: 300px;
  height: 60px;
  background-image: url("../imags/a_07.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 20px 0;

  margin-top: -9%;
}

.subimgtext .sub2 {
  text-align: left;
  width: 607px;
  height: 100px;
  background-image: url("../imags/a_08.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 0 20px 0;
}

.subimgtext .text {
  position: relative;
}

.subimgtext .text p {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.3;
}
.section {
  gap: 40px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-direction: row;
}
.api {
  position: relative;
  text-align: center;
  margin: 40px auto;
  position: relative;
  width: 80%;
}
.api img {
  border-radius: 20px;
}
.api > a {
  position: absolute;
  top: 70%; /*"세로 기억하기"*/
  left: 42%; /* 가로  기억하기*/
  transform: translate(-50%, -10%);
  color: #000;
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
.con {
  width: 60%;
  justify-content: center;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 30px;
  height: 50%;
}
.best {
  display: flex;
}
.best img {
  padding: 20px;
}

.mySwiper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.slide {
  min-width: 208px;
  margin-right: 30px;
}
.slide p {
  margin-bottom: 20px;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 20px;
}
.best-category {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 4%;
  width: 80%;
  gap: 20px;
}

.best-category a.tab {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  transition: 0.2s;
}

.best-category a.tab.active {
  color: #f73c5a;
  font-weight: 700;
}

.best-category a.tab:hover {
  opacity: 0.7;
}

.best-category .bar {
  pointer-events: none;
  color: #777;
  font-weight: 500;
}

.sectionmenu {
  display: flex;
  width: 100%;
  height: 706px;
  box-sizing: border-box;
  overflow: hidden;
  align-items: stretch;
}

.sectionmenu .last_menu {
  background-color: #0074bc;
  width: 560px;
  min-width: 560px;
  height: 100%;
  padding-top: 120px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sectionmenu .last_menu img {
  width: 55px;
  height: auto;
  margin-bottom: 100px;
}

.sectionmenu .last_menu h1 {
  color: #fff;
  font-size: 46px;

  margin-bottom: 100px;
}

.sectionmenu .last_menu span {
  display: flex;
  left: 30%;
  color: #fff;
  font-size: 25px;
}

.sectionmenu .last_menu2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8ddff;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}

.sectionmenu .last_menu2 img {
  max-width: 820px;
  width: 85%;

  box-shadow: 0 18px 28px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  display: block;
  transform: translateY(6px);
}

.sectionmenu .last_menu3 {
  width: 560px;
  min-width: 560px;
  background-color: #e5f5ff;
  padding: 120px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.sectionmenu .last_menu3 h1:first-child {
  color: #0074bc;
  font-size: 32px;
  margin: 0;
}

.sectionmenu .last_menu3 h2 {
  font-size: 22px;
  margin: 0;
}

.sectionmenu .last_menu3 h1 strong {
  display: block;
  font-size: 28px;
  margin-top: 10px;

  font-weight: 800;
}
.sns_rap {
  width: 1180px;
  margin: 0 auto;
}
.sns_rap .SNS {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.sns_rap .SNS > div {
  display: flex;
  align-items: center;
  gap: 40px;
}
.sns_rap .SNS > p {
  width: 285px;
  padding: 20px 0;
  background-color: #f73c54;
  text-align: center;
  color: #fff;
  border-radius: 100px;
}

.SNS_flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.SNS_flex > div {
  flex: 1 0 18%;
}
.SNS_flex > div img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.SNS_flex > h1 {
  text-align: center;
  display: flex;
  margin: 40px;
  justify-content: space-between;
}
footer {
  background: #eb6cae url(../imags/footer_04.png) left top/cover;
  padding: 50px 0;
  margin-top: 100px;
}
footer .foot {
  width: 1500px;
  margin: 0 auto;
}
.foot .top {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
}
.bottom {
  color: #fff;
}
.bottom > div {
  display: flex;
  gap: 20px;
}
.bottom > p {
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .sectionmenu {
    height: auto;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
  }

  .sectionmenu .last_menu,
  .sectionmenu .last_menu3 {
    width: 100%;
    min-width: 0;
    padding: 30px;
    text-align: center;
  }

  .sectionmenu .last_menu2 img {
    width: 95%;
    max-width: 1000px;
  }
}
